<link rel="stylesheet" type="text/css" href="stylesheets/photo.css">

<div class="photo-content">
    <div id="photoTab">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">相册</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">照片</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">视频</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!--相册　start-->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="button-bar row">
                    <div class="col-xs-7">
                        <button type="button" class="btn btn-info">上传照片</button>
                        <button type="button" class="btn btn-primary">创建相册</button>
                        <button type="button" class="btn btn-warning">设置展示</button>
                    </div>
                    <div class="col-xs-5"></div>
                </div>

                <div class="photo-panel row">
                    <ul class="scale-list">
                        <li>
                            <a>
                                <div class="img">
                                    <img src="/photos/photo/2015-09-14/IMG20150423212307.jpg">
                                </div>
                                <p class="description">嘿嘿嘿</p>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="img">
                                    <img src="/photos/photo/2015-09-14/IMG20150604061446.jpg">
                                </div>
                                <p class="description">呵呵呵</p>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!--相册　end-->

            <div role="tabpanel" class="tab-pane" id="profile">...2</div>
            <div role="tabpanel" class="tab-pane" id="messages">...3</div>
        </div>

    </div>
</div>

<!--
IMG20150423212307.jpg
IMG20150509142809.jpg
IMG20150509142836.jpg
IMG20150509142959.jpg
IMG20150509143503.jpg
IMG20150510143634.jpg
IMG20150510143729.jpg
IMG20150510143742.jpg
IMG20150513191818.jpg
IMG20150513191834.jpg
IMG20150514224028.jpg
IMG20150604061446.jpg
IMG20150624140945.jpg
IMG20150802175531.jpg
IMG20150802175551.jpg
IMG20150802175609.jpg-->
