<style type="text/css">
	.blog-list {
		margin: 0px;
		padding: 0px;
		color: #666;
	}
	.blog-list a:hover{
		text-decoration: none;
		color: #f63;
	}

	.blog-list > li {
		list-style-type: none;
		border-bottom: 1px solid #eee;
		max-width: 600px;
		background-color: #fff;

		-webkit-transition: -webkit-transform .05s;
		   -moz-transition:    -moz-transform .05s;
		    -ms-transition:     -ms-transform .05s;
		     -o-transition:      -o-transform .05s;
		        transition:         transform .05s;
	}

	.blog-list > li:hover {
		-webkit-transform: scale(1.06, 1.06);
		   -moz-transform: scale(1.06, 1.06);
		    -ms-transform: scale(1.06, 1.06);
		     -o-transform: scale(1.06, 1.06);
		        transform: scale(1.06, 1.06);

		padding: 2%;
		box-shadow: 0px 0px 10px #333;
	}

	.blog-list > li .item-img img{
		width: 100%;
		max-width: 600px;
	}
</style>
<div class="row blog-content">
	<div class="col-xs-7">
		<ul class="blog-list">
			<li>
				<h3><a href="#">Semantic UI 2.1.4 发布，前端界面开发框架</a></h3>
				<p class="item-auth"><a href="#">oschina</a> 发布于 12分钟前 - 1评</p>
				<p class="item-review">Semantic UI 2.1.4 发布，此版本更新内容如下： 关键 bug 修复 Build - Fixed issue where using a packaged theme without a site.variables would cause build to fail #3009 #3010 增强 表单验证 - Form valid...</p>
				<p class="item-img">
					<a 
						title="Semantic UI 2.1.4 发布，前端界面开发框架" 
						href="#" 
						target="_blank"><img 
								alt="...." 
								src="http://static.oschina.net/uploads/space/2013/1008/140748_1T9v_119807.jpg"></a>
				</p>
				<p class="item-more"><a href="/news/66164/semantic-ui-2-1-4" target="_blank">显示全文</a></p>
			</li>
			<li>
				<h3><a href="#">Semantic UI 2.1.4 发布，前端界面开发框架</a></h3>
				<p class="item-auth"><a href="#">oschina</a> 发布于 12分钟前 - 1评</p>
				<p class="item-review">Semantic UI 2.1.4 发布，此版本更新内容如下： 关键 bug 修复 Build - Fixed issue where using a packaged theme without a site.variables would cause build to fail #3009 #3010 增强 表单验证 - Form valid...</p>
				<p class="item-img">
					<a 
						title="Semantic UI 2.1.4 发布，前端界面开发框架" 
						href="#" 
						target="_blank"><img 
								alt="...." 
								src="http://static.oschina.net/uploads/space/2013/1008/140748_1T9v_119807.jpg"></a>
				</p>
				<p class="item-more"><a href="/news/66164/semantic-ui-2-1-4" target="_blank">显示全文</a></p>
			</li>
			<li>
				<h3><a href="#">Semantic UI 2.1.4 发布，前端界面开发框架</a></h3>
				<p class="item-auth"><a href="#">oschina</a> 发布于 12分钟前 - 1评</p>
				<p class="item-review">Semantic UI 2.1.4 发布，此版本更新内容如下： 关键 bug 修复 Build - Fixed issue where using a packaged theme without a site.variables would cause build to fail #3009 #3010 增强 表单验证 - Form valid...</p>
				<p class="item-img">
					<a 
						title="Semantic UI 2.1.4 发布，前端界面开发框架" 
						href="#" 
						target="_blank"><img 
								alt="...." 
								src="http://static.oschina.net/uploads/space/2013/1008/140748_1T9v_119807.jpg"></a>
				</p>
				<p class="item-more"><a href="/news/66164/semantic-ui-2-1-4" target="_blank">显示全文</a></p>
			</li>
		</ul>
	</div>
	<div class="blog-right well col-xs-5">
		heihei
	</div>
</div>