html,body{
    height: 100%;
}

/*
    背景色
    linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);

    rgba(255, 0, 0, .25) 14.3%,
    rgba(255,165,0, .25) 28.6%,
    rgba(255,255,0, .25) 42.9%,
    rgba(0, 255, 0, .25) 57.2%,
    rgba(0,255,255, .25) 71.5%,
    rgba(0, 0, 255, .25) 85.8%,
    rgba(128,0,128, .25) 100%
*/
body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    background: -webkit-linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);
    background: -moz-linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);
    background: -ms-linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);
    background: -o-linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);
    background: linear-gradient(top,rgba(255, 0, 0, .25) 14.3%,rgba(255,165,0, .25) 28.6%,rgba(255,255,0, .25) 42.9%,rgba(0, 255, 0, .25) 57.2%,rgba(0,255,255, .25) 71.5%,rgba(0, 0, 255, .25) 85.8%,rgba(128,0,128, .25) 100%);
    background-attachment: fixed;
}

.blog-body {
    background-color: #fff;
    box-shadow: 0px 0px 10px #333;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

a:hover{
    text-decoration: underline;
    color: #f63;
}

a img {
    border: 0px;
}

.scale-list > li, .scale .item, .scale-item {
    -webkit-transition: -webkit-transform .1s;
    -moz-transition:    -moz-transform .1s;
    -ms-transition:     -ms-transform .1s;
    -o-transition:      -o-transform .1s;
    transition:         transform .1s;
}

.scale-list > li:hover, .scale .item:hover, .scale-item:hover {
    -webkit-transform: scale(1.06, 1.06);
    -moz-transform: scale(1.06, 1.06);
    -ms-transform: scale(1.06, 1.06);
    -o-transform: scale(1.06, 1.06);
    transform: scale(1.06, 1.06);
    box-shadow: 0px 0px 10px #333;
}